---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";

import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeaderBlog from "../components/blog/HeaderBlog.astro";
import Background from "../components/Background.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="theme-color" content="#09090b" />

    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.titlePage}</title>
    <ViewTransitions />
  </head>
  <body class="max-w-2xl mx-auto">
    <div class="transition-colors bg-white dark:bg-zinc-950">
      <NavBar />
      <Header>
        <HeaderBlog
          title={frontmatter.title}
          date={frontmatter.date}
          time={frontmatter.time}
          tags={frontmatter.tags}
        />
      </Header>
      <main class="px-6 py-10">
        <slot />
      </main>
      <Footer />
    </div>
    <Background />
  </body>
</html>
<style is:global>
  ::-webkit-scrollbar {
    @apply bg-white;
    @apply dark:bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-pink-500;
    @apply rounded-sm;
  }
  ::selection {
    @apply bg-pink-400;
    color: #ffffff;
  }
  main p {
    @apply transition-colors;
    @apply text-zinc-700;
    @apply dark:text-zinc-300;
    @apply mb-2;
    @apply text-pretty;
  }
  main p code {
    @apply bg-zinc-300;
    @apply dark:bg-zinc-700;
    @apply px-1;
    @apply py-0.5;
    @apply rounded;
  }
  main h1 {
    @apply transition-colors;
    @apply text-3xl;
    @apply font-semibold;
    @apply text-zinc-950;
    @apply dark:text-white;
  }
  main h2 {
		@apply transition-colors;
		@apply text-2xl;
		@apply font-semibold;
		@apply text-zinc-950;
		@apply dark:text-white;
    @apply mb-2;
	}
	main strong {
		@apply font-semibold;
		@apply transition-colors;
		@apply text-pink-500;
	}
  main .expressive-code {
    @apply my-4;
  }
</style>