---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";

import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeaderBlog from "../components/blog/HeaderBlog.astro";
import Background from "../components/Background.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#09090b" />
    <title>{frontmatter.title}</title>
  </head>
  <body class="max-w-2xl mx-auto">
    <div class="bg-white dark:bg-zinc-950">
      <NavBar />
      <Header>
        <HeaderBlog
          title={frontmatter.title}
          date={frontmatter.date}
          time={frontmatter.time}
          tags={frontmatter.tags}
        />
      </Header>
      <main class="px-6 py-10 main__content">
        <slot />
      </main>
      <Footer />
    </div>
    <Background />
  </body>
</html>
<style is:global>
  ::view-transition-group(root) {
    animation-duration: 1.5s;
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    animation-name: reveal-light;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: none;
    z-index: -1;
  }
  .dark::view-transition-new(root) {
    animation-name: reveal-dark;
  }

  @keyframes reveal-dark {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes reveal-light {
    from {
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  
  ::-webkit-scrollbar {
    @apply bg-white;
    @apply dark:bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-pink-500;
    @apply rounded-sm;
  }
  ::selection {
    @apply bg-pink-400;
    color: #ffffff;
  }
  .main__content p {
    @apply transition-colors;
    @apply text-zinc-700;
    @apply dark:text-zinc-300;
    @apply mb-2;
    @apply text-pretty;
  }
  .main__content p code,
  .main__content h1 code,
  .main__content h2 code,
  .main__content h3 code,
  .main__content h4 code,
  .main__content ul code,
  .main__content ol code {
    @apply transition-colors;
    @apply bg-zinc-300;
    @apply dark:bg-zinc-700;
    @apply px-1;
    @apply py-0.5;
    @apply rounded;
  }
  .main__content h1 {
    @apply transition-colors;
    @apply text-3xl;
    @apply font-semibold;
    @apply text-zinc-950;
    @apply dark:text-white;
  }
  .main__content h2 {
		@apply transition-colors;
		@apply text-2xl;
		@apply font-semibold;
		@apply text-zinc-950;
		@apply dark:text-white;
    @apply mb-2;
    @apply mt-4;
	}
  .main__content h3 {
		@apply transition-colors;
		@apply text-xl;
		@apply font-semibold;
		@apply text-zinc-950;
		@apply dark:text-white;
    @apply mb-2;
    @apply mt-4;
	}
  .main__content h4 {
		@apply transition-colors;
		@apply text-base;
		@apply font-semibold;
		@apply text-zinc-950;
		@apply dark:text-white;
    @apply mb-2;
    @apply mt-4;
	}
  .main__content strong {
		@apply font-semibold;
		@apply transition-colors;
		@apply text-pink-500;
	}
  .main__content ul {
    @apply list-disc;
    @apply ml-7;
    @apply my-2;
    @apply transition-colors;
    @apply text-zinc-700;
    @apply dark:text-zinc-300;
  }
  .main__content ol {
    @apply list-decimal;
    @apply ml-7;
    @apply my-2;
    @apply transition-colors;
    @apply text-zinc-700;
    @apply dark:text-zinc-300;
  }
  .main__content .expressive-code {
    @apply my-4;
  }
</style>